* {
	box-sizing: border-box;
	font-size: 0;
	margin: 0;
	padding: 0;
}

body {
	background-color: #FFF;
}

.logo-and-contact {
	display: flex;
    background-color: #77A6F7;
}

.logo img {
    width: 4vw;
	height: 4.75vw;
	margin-top: 1vw;
	margin-bottom: 1vw;
	margin-left: 5vw;
}

.note h1 {
	font-size: 3vw;
	color: #FFF;
	font-family: "Hero-Bold";
	margin-top: 1.7vw;
	margin-left: 1vw;
}

.number {
	margin-left: 13vw;
	margin-top: 1.7vw;
}

.number h1 {
	font-size: 3vw;
	color: #FFF;
	font-family: "Hero-Bold";
}

.address {
	margin-left: 15vw;
	margin-top: 1.7vw;
}

.address p {
	font-size: 1.5vw;
	color: #FFF;
	font-family: "Hero-Bold";
}

.metro {
	display: flex;
}

.metro p {
	margin-left: 0.5vw;
	margin-top: 0.2vw;
}

.metro img {
	margin-top: 0.55vw;
	width: 1.6vw;
	height: 1.3vw;
}

.welcome {
	position: relative;
	background-color: #000;
}

.welcome img {
	width: 100%;
	opacity: 0.4;
}

.welcome span {
	text-align: center;
	position: absolute;
	top: 25%;
	left: 20%;
	right: 20%;
	font-size: 5.75vw;
	color: #77A6F7;
	font-family: "Hero-Bold";
}

.navbar-menu {
	display: flex;
	width: 100%;
	justify-content: center;
	background-color: #77A6F7;
	align-items: center;
	text-align: center;
	list-style-type: none;
}

.navbar-menu li {
	display: inline-block;
	width: 100%;
}

#PasswordsHeaderButton {
	background: linear-gradient(#00887A 0 0) 100% 100% /var(--t, 0) 0.3vw no-repeat;
	transition: 0.3s;
	display: inline-block;
	width: 100%;
	color: #FFF;
	text-align: center;
	font-family: "Hero-Bold";
	font-size: 1.6vw;
	padding: 1vw;
  	text-decoration: none;
}

#PasswordsHeaderButton:hover {
	--t: 100%;
	color: #00887A;
}

#PasswordHeaderButton:active {
	background-color: #00887A;
}

#VaultHeaderButton {
	background: linear-gradient(#00887A 0 0) 0 100% /var(--t, 0) 0.3vw no-repeat;
	transition: 0.3s;
	display: inline-block;
	width: 100%;
	color: #FFF;
	text-align: center;
	font-family: "Hero-Bold";
	font-size: 1.6vw;
	padding: 1vw;
  	text-decoration: none;
}

#VaultHeaderButton:hover {
	--t: 100%;
	color: #00887A;
}


#CryptoHeaderButton {
	background: linear-gradient(#00887A 0 0) bottom /var(--t, 0) 0.3vw no-repeat;
	transition: 0.3s;
	display: inline-block;
	width: 100%;
	color: #FFF;
	text-align: center;
	font-family: "Hero-Bold";
	font-size: 1.6vw;
	padding: 1vw;
  	text-decoration: none;
}

#CryptoHeaderButton:hover {
	--t: 100%;
	color: #00887A;
}


#SCAMGuardHeaderButton {
	background: linear-gradient(#00887A 0 0) 100% 100% /var(--t, 0) 0.3vw no-repeat;
	transition: 0.3s;
	display: inline-block;
	width: 100%;
	color: #FFF;
	text-align: center;
	font-family: "Hero-Bold";
	font-size: 1.6vw;
	padding: 1vw;
  	text-decoration: none;
}

#SCAMGuardHeaderButton:hover {
	--t: 100%;
	color: #00887A;
}

#SocialHeaderButton {
	background: linear-gradient(#00887A 0 0) 0 100% /var(--t, 0) 0.3vw no-repeat;
	transition: 0.3s;
	display: inline-block;
	width: 100%;
	color: #FFF;
	text-align: center;
	font-family: "Hero-Bold";
	font-size: 1.6vw;
	padding: 1vw;
  	text-decoration: none;
}

#SocialHeaderButton:hover {
	--t: 100%;
	color: #00887A;
}

@font-face {
	font-family: "Hero-Bold";
	src: url("../fonts/hero/TTF/Hero-Bold.ttf") format("truetype");
	font-style: normal; 
	font-weight: normal; 
} 