* {
	box-sizing: border-box;
	font-size: 0;
	margin: 0;
	padding: 0;
}

:root {
	--accent-color: #440182;
	--text-color: #FFF;
	--bg-color: #77A6F7;
}

body {
	background-color: #77A6F7;
}

#logo-and-contact {
	margin: 0 auto;
	display: flex;
}

#logo img {
    width: 4vw;
	height: 4.75vw;
	margin-top: 1vw;
	margin-bottom: 1vw;
	margin-left: 5vw;
}

#note h1 {
	font-size: 3vw;
	color: var(--text-color);
	font-family: "Hero-Bold";
	margin-top: 1.7vw;
	margin-left: 1vw;
}

#number {
	margin-left: 13vw;
	margin-top: 1.7vw;
}

#number a {
	text-decoration: none;
	font-size: 3vw;
	color: var(--text-color);
	font-family: "Hero-Bold";
	transition: 0.3s;
}

#number a:hover {
	text-shadow: 5px 5px var(--accent-color);
}


#address {
	margin-left: 12vw;
	margin-top: 1.7vw;
}

#address p {
	font-size: 1.5vw;
	color: var(--text-color);
	font-family: "Hero-Bold";
}

#metro {
	display: flex;
}

#metro p {
	margin-left: 0.5vw;
	margin-top: 0.3vw;
}

#metro img {
	margin-top: 0.55vw;
	width: 1.6vw;
	height: 1.3vw;
}

#navbar-menu {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	text-align: center;
	list-style-type: none;
}

#navbar-menu li {
	display: inline-block;
	width: 100%;
}

#appointment {
	background: linear-gradient(var(--accent-color) 0 0) 100% 100% /var(--t, 0) 0.3vw no-repeat;
	transition: 0.3s;
	display: inline-block;
	width: 100%;
	color: var(--text-color);
	text-align: center;
	font-family: "Hero-Bold";
	font-size: 1.7vw;
	padding: 1vw;
  	text-decoration: none;
}

#appointment:hover {
	--t: 100%;
	color: var(--accent-color);
}

#contacts {
	background: linear-gradient(var(--accent-color) 0 0) 0 100% /var(--t, 0) 0.3vw no-repeat;
	transition: 0.3s;
	display: inline-block;
	width: 100%;
	color: var(--text-color);
	text-align: center;
	font-family: "Hero-Bold";
	font-size: 1.7vw;
	padding: 1vw;
  	text-decoration: none;
}

#contacts:hover {
	--t: 100%;
	color: var(--accent-color);
}

#price {
	background: linear-gradient(var(--accent-color) 0 0) bottom /var(--t, 0) 0.3vw no-repeat;
	transition: 0.3s;
	display: inline-block;
	width: 100%;
	color: var(--text-color);
	text-align: center;
	font-family: "Hero-Bold";
	font-size: 1.7vw;
	padding: 1vw;
  	text-decoration: none;
}

#price:hover {
	--t: 100%;
	color: var(--accent-color);
}

#doctors {
	background: linear-gradient(var(--accent-color) 0 0) 100% 100% /var(--t, 0) 0.3vw no-repeat;
	transition: 0.3s;
	display: inline-block;
	width: 100%;
	color: var(--text-color);
	text-align: center;
	font-family: "Hero-Bold";
	font-size: 1.7vw;
	padding: 1vw;
  	text-decoration: none;
}

#doctors:hover {
	--t: 100%;
	color: var(--accent-color);
}

#aboutus {
	background: linear-gradient(var(--accent-color) 0 0) 0 100% /var(--t, 0) 0.3vw no-repeat;
	transition: 0.3s;
	display: inline-block;
	width: 100%;
	color: var(--text-color);
	text-align: center;
	font-family: "Hero-Bold";
	font-size: 1.7vw;
	padding: 1vw;
  	text-decoration: none;
}

#aboutus:hover {
	--t: 100%;
	color: var(--accent-color);
}

#welcome {
	position: relative;
	background-color: black;
}

#welcome img {
	width: 100%;
	max-height: 1080pt;
	opacity: 0.4;
}

#welcome span {
	text-align: center;
	position: absolute;
	top: 35%;
	left: 20%;
	right: 20%;
	font-size: 5.7vw;
	color: var(--bg-color);
	font-family: "Hero-Bold";
}

#what-is-prp {
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto 0 auto;
	padding-bottom: 5vw;
}

#what-is-prp h1 {
	display: block;
	text-align: center;
	padding-top: 7vw;
	padding-bottom: 2vw;
	width: 100%;
	font-size: 4.5vw;
	color: var(--text-color);
	font-family: "Hero-Bold";
}

#what-is-prp b {
	font-size: 4vw;
	font-family: "Hero-Bold";
}

#prpinfo {
	display: flex;
}

#prpinfo p {
	padding-left: 5vw;
	max-width: 60vw;
    text-align: left;
	margin: auto;
	font-size: 2.6vw;
    font-family: "Hero-Bold";
    color: var(--text-color);
}

#prpinfo b {
	font-size: 3vw;
    font-family: "Hero-Bold";
}

#prpinfo img {
	margin-right: auto;
    width: 35vw;
	height: 35vw;
}

#prp-therapy {
	opacity: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto 0 auto;
	padding-bottom: 5vw;
}

#prp-therapy h1 {
	display: block;
	text-align: center;
	padding-top: 7vw;
	padding-bottom: 2vw;
	width: 100%;
	font-size: 4.5vw;
	color: #77A6F7;
	font-family: "Hero-Bold";
}

#prp-therapy b {
	font-size: 4vw;
	font-family: "Hero-Bold";
}

#prp-therapyinfo {
	display: flex;
}

#prp-therapyinfo p {
	padding-right: 5vw;
	max-width: 60vw;
    text-align: right;
	margin: auto;
	font-size: 2.8vw;
    font-family: "Hero-Bold";
    color: #77A6F7;
}

#prp-therapyinfo b {
	font-size: 3vw;
    font-family: "Hero-Bold";
}

#prp-therapyinfo img {
	margin-left: auto;
    width: 30vw;
	height: 30vw;
}

#procedure {
	opacity: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto 0 auto;
	padding-bottom: 5vw;
}

#procedure h1 {
	display: block;
	text-align: center;
	padding-top: 7vw;
	padding-bottom: 2vw;
	width: 100%;
	font-size: 4.5vw;
	color: #FFF;
	font-family: "Hero-Bold";
}

#procedure b {
	font-size: 4vw;
	font-family: "Hero-Bold";
}

#procedureinfo {
	display: flex;
}

#procedureinfo p {
	padding-left: 5vw;
	max-width: 60vw;
    text-align: left;
	margin: auto;
	font-size: 2.6vw;
    font-family: "Hero-Bold";
    color: #FFF;
}

#procedureinfo b {
	font-size: 3vw;
    font-family: "Hero-Bold";
}

#procedureinfo img {
	margin-right: auto;
    width: 35vw;
	height: 35vw;
}

#reasons {
	opacity: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto 0 auto;
	padding-bottom: 5vw;
}

#reasons h1 {
	display: block;
	text-align: center;
	padding-top: 7vw;
	padding-bottom: 2vw;
	width: 100%;
	font-size: 4.5vw;
	color: #77A6F7;
	font-family: "Hero-Bold";
}

#reasons b {
	font-size: 4vw;
	font-family: "Hero-Bold";
}

#reasonsinfo {
	margin-top: 1vw;
	margin-left: 5vw;
	margin-right: 5vw;
	display: grid;
	grid-template-columns: auto auto auto;
  	grid-template-rows: auto auto;
  	grid-auto-flow: row;
  	gap: 2vw;
}

#reasonsinfo div {
	display: flex;
	background-color: #77A6F7;
	border-radius: 3vw;
	padding: 2vw;
	box-shadow: 0.5vw 0.5vw 0.5vw rgba(0, 0, 0, 0.3);
	transition: transform 0.3s ease;
}

#reasonsinfo div:hover {
	transform: translateY(-0.5vw);
}

#reasonsinfo div p {
	display: inline-block;
	margin: auto;
    text-align: center;
	font-size: 1.6vw;
    font-family: "Hero-Bold";
    color: white;
}

#reasonsinfo div b {
	font-size: 3vw;
    font-family: "Hero-Bold";
}

#list-of-serivces {
	opacity: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 10vw auto 0 auto;
	padding-bottom: 5vw;
}

#list-of-serivces h1 {
	display: block;
	text-align: center;
	margin-bottom: 7vw;
	width: 100%;
	font-size: 4.5vw;
	color: white;
	font-family: "Hero-Bold";
}

#list-of-serivces b {
	font-size: 4vw;
	font-family: "Hero-Bold";
}

#list-of-serivces-info {
	margin-top: 1vw;
	margin-left: 5vw;
	margin-right: 5vw;
	margin-bottom: 2vw;
	display: grid;
	grid-template-columns: auto auto auto;
  	grid-template-rows: auto auto;
  	grid-auto-flow: row;
  	gap: 2vw;
}

#list-of-serivces-info div {
	display: flex;
	cursor: pointer;
	background-color: white;
	border-radius: 3vw;
	padding: 1.5vw;
	box-shadow: 0.5vw 0.5vw 0.5vw rgba(0, 0, 0, 0.3);
	transition: transform 0.3s ease;
}

#list-of-serivces-info div:hover {
	transform: translateY(-0.5vw);
}

#list-of-serivces-info div h3 {
	display: inline-block;
	margin: auto;
    text-align: center;
	font-size: 2vw;
    font-family: "Hero-Bold";
    color: #77A6F7;
}


#contacts-and-appointment {
	opacity: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto 0 auto;
	padding-bottom: 5vw;
}

#contacts-and-appointment-info {
	width: 100%;
	margin: 0 auto 0 auto;
}

#contacts-and-appointment-info p {
	padding-left: 5vw;
	max-width: 60vw;
    text-align: left;
	margin: auto;
	font-size: 2.6vw;
    font-family: "Hero-Bold";
    color: #77A6F7;
}

#contacts-and-appointment-info b {
	font-size: 3vw;
    font-family: "Hero-Bold";
}

#footer-contacts {
	width: 100%;
	margin: 0 auto 0 auto;
	display: grid;
	grid-template-columns: auto auto auto auto;
  	grid-template-rows: auto;
}

#footer-contacts a {
	display: block;
	background-color: #77A6F7;
	border-radius: 3vw;
	padding: 2vw;
	box-shadow: 0.5vw 0.5vw 0.5vw rgba(0, 0, 0, 0.3);
	transition: transform 0.3s ease;
	font-family: "Hero-Bold";
	font-size: 2vw;
	color: white;
}

@font-face {
	font-family: "Hero-Bold";
	src: url("../fonts/hero/TTF/Hero-Bold.ttf") format("truetype");
	font-style: normal; 
	font-weight: normal; 
} 